---
const { title = 'Jaden Curley - Personal Site' } = Astro.props;
const { description = "A site by Jaden Curley" } = Astro.props;
---

<meta charset="UTF-8">
<title>{title}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content={description} >
<link rel="canonical" href="https://jadencurley.me/">
<link rel="stylesheet" type="text/css" href="/global.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
